<div class="div-search">
  <form class="form-search">
    <div class="col-md-11">
    <!-- bootstrap utilities/screenreaders   -->
    <table class="table">
      <tbody *ngFor="let product of products">
        <tr>
          <td>{{product.title}}</td>
          <td>{{product.details}}</td>
          <td>Rs.{{product.price}}/-</td>
          <td>{{product.sellerUser}}</td>
          <td><button class="btn btn-primary" type="button" (click)="viewDetails(product.id)">View Details</button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="moredateflg"><a (click)="dateShowMore()" class="a-link">＜＜more search results＞＞</a></div>
  </div>
  </form>
</div>
